---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Antonio Bermúdez, a fullstack software developer from Spain.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>.NET</li>
        <li>Angular</li>
        <li>SQLServer</li>
        <li>Astro</li>
        <li>Azure</li>
        <li>React</li>
        <li>MongoDB</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about music, sports, videogames and traveling. I love listening to new types of music and discovering artists from all eras.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the job, even if it's not on my usual list. My goal is to find the right solution for each project.
    </p>
  </div>
</Card>
